10_Effective_Interactions_with_Patients_YouTube.wav
__pycache__/
*.pyc
audio.wav
simple_webapp/received_audio.wav
whisper_webapp/transcription_log.txt
# *txt
ui2/diarization_log.txt
.gitignore
ui2/transcription_log.txt
ui2/received_audio.wav
whisper-diarization/nemo_msdd_configs/diar_infer_telephonic.yaml
whisper-diarization/received_audio.txt
.gitignore
whisper-diarization/received_audio.srt
whisper-diarization/received_audio.wav
ui3/diarization_log.txt
ui3/received_audio.srt
ui3/received_audio.txt
.gitignore
.gitignore
ui3/transcription_log.txt
ui3/received_audio.wav
ui3/nemo_msdd_configs/diar_infer_telephonic.yaml
